<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pleiades.pleione.kittencare">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:backupAgent=".BackupAgent"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/kitten_care"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="@string/backup_api_key" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_application_id" />

        <activity
            android:name=".ui.activity.EscapeActivity"
            android:theme="@style/AppTheme.DialogTheme.Transparent" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:label="@string/kitten_care"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.HistoryActivity"
            android:label="@string/label_history"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.AdvertisementActivity"
            android:label="@string/label_random_box"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.charm.AlchemyActivity"
            android:label="@string/label_alchemy"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.charm.DivinationActivity"
            android:label="@string/label_divination"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.settings.TutorialActivity"
            android:label="@string/label_tutorial"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.settings.HappinessTutorialActivity"
            android:label="@string/label_happiness"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.settings.ApplicationActivity"
            android:label="@string/label_application"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.settings.DetailActivity"
            android:label="@string/label_detail"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- game activity -->
        <activity
            android:name=".ui.activity.game.PajamasActivity"
            android:label="@string/game_title_pajamas"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.game.PleiadesActivity"
            android:label="@string/game_title_pleiades"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.game.DinosaurActivity"
            android:label="@string/game_title_dinosaur"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".KittenService"
            android:configChanges="orientation"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" />
    </application>

</manifest>